* {
    scroll-padding-bottom: 81.5px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--body);
}

:root {
    --main-color: #54be73;
}

.second-color {
    --main-color: #947dc8;
}

.third-color {
    --main-color: #f64b4e;
}

.dark {
    --mode-color: #e6e6e6;
    --bg-mode: #303030;
    --sec-mode: #232323;
    --heading-color:#d9d9d9;
    --body:#252525;
}

.light {
    --bg-mode: #fff;
    --sec-mode: #ebebeb;
    --mode-color: #909090;
    --heading-color:#212529;
    --body:transparent;
}
h1,h2,h3,h4,h5,h6{
    color: var(--heading-color);
}
p,span{
    color: var(--mode-color);
}
.ul-nav, .ul-nav2 {
    top: 73px;
    display: none;
    left: 0;
}

.ul-nav2 {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
}

.try:hover .ul-nav2 {
    visibility: visible;
    opacity: 1;
}

.ul-nav li, .ul-nav2 {
    font-size: 13px;
    white-space: nowrap;
}

.ul-nav li a, .ul-nav2 a {
    color: var(--mode-color-color);
    transition: 0.5s;
}

.ul-nav li:hover a, .ul-2 li:hover a {
    color: var(--main-color);
}


@media (max-width:768px) {
    .ul-nav {
        top: 54px;
    }
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

#home {
    background-image: url("../images/slide02.jpg");
}

#home .text {
    height: 70vh;
}

#home .text button, #header button, #contact button {
    font-size: 12px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}

#home .text button:hover, #contact button:hover {
    background-color: var(--main-color);
    color: #fff;
}

#header button, #about button ,footer button{
    color: #fff;
    border: 2px solid transparent;
    background-color: var(--main-color);
    transition: 0.5s;
}

#header button:hover, #about button:hover ,footer button:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent
}

#home .text h2 {
    font-size: 60px;
}

#home .text h3, #about h3, #choose h3 {
    font-weight: 200;
}

#about h2, #blog .heading h2, #choose h2, #slide h3, #contact .heading h2 ,#faq h2{
    font-weight: 900;
}

#about p, #blog .heading p, #choose .toggle div {
    color: var(--mode-color);
    font-size: 16px;
}

.info h5, #choose h5 {
    font-size: 16px;
}

.info p {
    font-size: 26px;
    font-weight: 200;
}

#servises .box h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}

#servises, #contact {
    height: auto;
    position: relative;
}

#servises::after, #contact::after,footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #1f232b;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#servises::before, #contact::before ,footer::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/texture.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#servises i {
    color: var(--main-color);
    font-size: 48px;
    transition: 0.5s;
}
#faq .box .text i , footer .social i{
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
}
#servises p {
    color: #818181;
    font-size: 14px;
    line-height: 2;
}

#servises h2 {
    color: #fff;
    font-weight: 900;
}

#servises .box:hover i ,#faq .box:hover .text i{
    animation: scal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes scal {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes scal {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.3);
        opacity: 0.2;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

#servises .box:hover h4 {
    color: var(--main-color);
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}

#blog .text p ,#faq .box .text p{
    color: var(--mode-color);
    font-size: 15px;
    line-height: 1.8;
}

#blog .box .text h5,#faq .box .text h3 {
    font-weight: 600;
    font-size: 20px;
}

#blog .box i {
    color: var(--main-color);
    font-size: 14px;
    margin: 8px 0;
}

#blog .box span, #slide p.cli {
    font-size: 12px;
}

#blog .image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}

#blog .box:hover .image::after {
    opacity: 1;
}

#choose h2 {
    font-size: 60px;
}

#choose h5 {
    background-color: var(--main-color);
    color: #fff;
}

#choose .toggle div {
    background: var(--bg-mode);
    display: none;
}

#choose {
    background-color: var(--sec-mode);
}

#choose .toggle div.active {
    display: block;
}

#choose h5 span {
    right: 15px;
}

#slide p:last-child {
    font-size: 16.5px;
    color: var(--mode-color);
}

#slide i {
    color: var(--main-color);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -45px;
    color: var(--main-color);
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-button-next, .swiper-button-prev {
    color: var(--main-color);
}

.swiper-slide:active {
    cursor: grab;
}

button:active {
    transform: translateY(5px);
}
.form-control:focus, .form-select:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 12px .1rem var(--main-color);
}

#contact .heading p {
    font-size: 16px;
}

#contact form textarea {
    height: 170px;
}
#faq .box i.down{
    transition: 0.5s;
    cursor: pointer;
}
#faq .box i.down:hover{
    transform: translateY(15px);
}
footer .info{
    background-color: var(--main-color);
}
footer img{
    filter: contrast(0.6) brightness(1.5);
}
footer i{
    color: var(--main-color);
}
footer a{
    color: #fff;
    transition: 0.5s;
}
footer a:hover{
    color: var(--main-color);
}
footer h3{
    font-weight: 900;
}
footer p ,footer li,footer a {
    font-size: 16px;
}
.copy span{
    color: var(--main-color);
}
.error{
    display: none;
}
footer .social i{
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.1);
}
 footer .social i.facebook{
    color: #507cbe;
 }
 footer .social i.linkd{
    color: #0077B5;
 }
 footer .social i.google{
    color: #db4437;
 }
 footer .social i:hover{
     color: #fff;
     border: 2px solid transparent;
 }
 footer .social i.google:hover{
    background-color: #db4437;
 }
 footer .social i.linkd:hover{
    background-color: #0077B5;
 }
 footer .social i.facebook:hover{
    background-color: #507cbe;
 }
 a{
     text-decoration: none;
 }
 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,.nav-link:focus, .nav-link:hover  {
    color: var(--main-color);
}
.nav-link {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 700;
    text-transform: uppercase;
}
nav.navbar.navbar-expand-lg.bg-white.shadow-sm.w-100.fixed-top{
    background: var(--bg-mode)!important;
}