* {
    scroll-padding-bottom: 81.5px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--body);
    overflow: hidden;
}

:root {
    --main-color: #54be73;
}

.second-color {
    --main-color: #947dc8;
}

.third-color {
    --main-color: #f64b4e;
}
section{
    overflow: hidden;
}
section,nav,body,p,h1,h2,h3,h4,h5,h6,span,a,main,.box-color,.open,.open i,.change-color div,.mode div{
    transition: 0.5s;
}
.dark {
    --mode-color: #e6e6e6;
    --bg-mode: #303030;
    --sec-mode: #232323;
    --heading-color:#d9d9d9;
    --body:#252525;
}

.light {
    --bg-mode: #fff;
    --sec-mode: #ebebeb;
    --mode-color: #909090;
    --heading-color:#212529;
    --body:transparent;
}
h1,h2,h3,h4,h5,h6{
    color: var(--heading-color)!important;
}
p,span{
    color: var(--mode-color);
}
.ul-nav, .ul-nav2 {
    top: 73px;
    display: none;
    left: 0;
    z-index: 200;
}
.ul-nav2 {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
}
@media (max-width:600px) {
    .ul-nav2 {
        height: 100%;
        flex-wrap: wrap;
        overflow: auto;
    }
}
.try:hover .ul-nav2 {
    visibility: visible;
    opacity: 1;
}

.ul-nav li, .ul-nav2 {
    font-size: 13px;
    white-space: nowrap;
}

.ul-nav li a, .ul-nav2 a {
    color: var(--mode-color-color);
    transition: 0.5s;
}

.ul-nav li:hover a, .ul-2 li:hover a {
    color: var(--main-color);
}


@media (max-width:768px) {
    .ul-nav {
        top: 54px;
    }
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
#home{
    transform: scale(0.01);
    opacity: 0;
}
#home .one{
    background-image: url("../images/slide02.jpg");
}
#home .tow{
    background-image: url("../images/recent_post3.jpg");
    position: relative;
}

#home .three{
    background-image: url("../images/09.jpg");
    position: relative;
}
#home .tow::after, #home .three::after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

#home .text {
    height: 70vh;
}

#home .text button, #header button, #contact button {
    font-size: 12px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
}

#home .text button:hover, #contact button:hover {
    background-color: var(--main-color);
    color: #fff;
}

#header button, #about button ,footer button{
    color: #fff;
    border: 2px solid transparent;
    background-color: var(--main-color);
    transition: 0.5s;
}

#header button:hover, #about button:hover ,footer button:hover{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: transparent
}

#home .text h2 {
    font-size: 60px;
}

#home .text h3, #about h3, #choose h3 {
    font-weight: 200;
}

#about h2, #blog .heading h2, #choose h2, #slide h3, #contact .heading h2 ,#faq h2{
    font-weight: 900;
}

#about p, #blog .heading p, #choose .toggle div {
    color: var(--mode-color);
    font-size: 16px;
}

.info h5, #choose h5 {
    font-size: 16px;
}

.info p {
    font-size: 26px;
    font-weight: 200;
}

#servises .box h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}

#servises, #contact {
    height: auto;
    position: relative;
}

#servises::after, #contact::after,footer::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: #1f232b;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#servises::before, #contact::before ,footer::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/texture.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

#servises i {
    color: var(--main-color);
    font-size: 48px;
    transition: 0.5s;
}
#faq .box .text i , footer .social i{
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
}
#servises p {
    color: #818181;
    font-size: 14px;
    line-height: 2;
}

#servises h2 {
    color: #fff;
    font-weight: 900;
}

#servises .box:hover i ,#faq .box:hover .text i{
    animation: scal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes scal {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 0.2;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes scal {
    0% {
        -webkit-transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.3);
        opacity: 0.2;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

#servises .box:hover h4 {
    color: var(--main-color);
}

::selection {
    background-color: var(--main-color);
    color: #fff;
}

#blog .text p ,#faq .box .text p{
    color: var(--mode-color);
    font-size: 15px;
    line-height: 1.8;
}

#blog .box .text h5,#faq .box .text h3 {
    font-weight: 600;
    font-size: 20px;
}

#blog .box i {
    color: var(--main-color);
    font-size: 14px;
    margin: 8px 0;
}

#blog .box span, #slide p.cli {
    font-size: 12px;
}

#blog .image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s;
}

#blog .box:hover .image::after {
    opacity: 1;
}

#choose h2 {
    font-size: 60px;
}

#choose h5 {
    background-color: var(--main-color);
    color: #fff;
}

#choose .toggle div {
    background: var(--bg-mode);
    display: none;
}

#choose {
    background-color: var(--sec-mode);
}

#choose .toggle div.active {
    display: block;
}

#choose h5 span {
    right: 15px;
}

#slide p:last-child {
    font-size: 16.5px;
    color: var(--mode-color);
}

#slide i {
    color: var(--main-color);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -45px;
    color: var(--main-color);
}
#home .swiper-horizontal>.swiper-pagination-bullets,#home .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
bottom: 20%;
}
.swiper-pagination-bullet-active {
    background: var(--main-color);
}

.swiper-button-next, .swiper-button-prev {
    color: var(--main-color);
}

.swiper-slide:active {
    cursor: grab;
}

button:active {
    transform: translateY(5px);
}
.form-control:focus, .form-select:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 12px .1rem var(--main-color);
}

#contact .heading p {
    font-size: 16px;
}

#contact form textarea {
    height: 170px;
}
#faq .box i.down{
    transition: 0.5s;
    cursor: pointer;
}
#faq .box i.down:hover{
    transform: translateY(15px);
}
footer .info{
    background-color: var(--main-color);
}
footer img{
    filter: contrast(0.6) brightness(1.5);
}
footer i{
    color: var(--main-color);
}
footer a{
    color: #fff;
    transition: 0.5s;
}
footer a:hover{
    color: var(--main-color);
}
footer h3{
    font-weight: 900;
}
footer p ,footer li,footer a {
    font-size: 16px;
}
.copy span{
    color: var(--main-color);
}
.copy{
    background-color: var(--sec-mode);
}
.error{
    display: none;
}
footer .social i{
    background-color: transparent;
    border: 2px solid rgba(255,255,255,.1);
}
 footer .social i.facebook{
    color: #507cbe;
 }
 footer .social i.linkd{
    color: #0077B5;
 }
 footer .social i.google{
    color: #db4437;
 }
 footer .social i:hover{
     color: #fff;
     border: 2px solid transparent;
 }
 footer .social i.google:hover{
    background-color: #db4437;
 }
 footer .social i.linkd:hover{
    background-color: #0077B5;
 }
 footer .social i.facebook:hover{
    background-color: #507cbe;
 }
 a{
     text-decoration: none;
 }
 .navbar-nav .nav-link.active, .navbar-nav .nav-link.show,.nav-link:focus, .nav-link:hover  {
    color: var(--main-color);
}
.nav-link {
    font-size: 16px;
    color: var(--heading-color);
    font-weight: 700;
    text-transform: uppercase;
}
nav.navbar.navbar-expand-lg.bg-white.shadow-sm.w-100.fixed-top{
    background: var(--bg-mode)!important;
}
.load{
    z-index: 99999;
    display: flex;
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #25b09b;
    animation: l15 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  .loader::after {
    margin: 8px;
    animation-duration: 3s;
  }
  @keyframes l15{ 
    100%{transform: rotate(1turn)}
  }
  .change-color div,.pattern-box div{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  .change-color div.green{
      background-color: #54be73;
}
.change-color div.purple{
    background-color: #947dc8;
}
.change-color div.red{
    background-color: #f64b4e;
}
.box-color{
    right: 0;
    width: 152px;
}
.open{
    cursor: pointer;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: black;
}
.open:hover{
    opacity: 0.7;
}
.open i {
    width: 44px;
    height: 47px;
}
.open:hover i{
    transform: rotate(-25deg);
}

.checkbox-wrapper-36 *,
.checkbox-wrapper-36 *::before,
.checkbox-wrapper-36 *::after {
    box-sizing: border-box;
}

.checkbox-wrapper-36 label {
    background: white;
    border-radius: 8px; 
    box-shadow: 0px 25px 10px 0 rgba(0,0,0,0.1); 
    display: flex;
    height: 30px;
    padding: 4px; 
    position: relative;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 70px; 
}

.checkbox-wrapper-36 input {
    display: none;
}

.checkbox-wrapper-36 label:after {
    animation: move-left-36 400ms;
    background: #E2E2E2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath stroke='#E2E2E2' fill='#E2E2E2' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center; /* تصغير الأيقونة */
    border-radius: 8px; 
    content: '';
    left: 4px;
    outline: none;
    position: absolute;
    transition: background 100ms linear;
    width: 20px;
    height: 20px;
    top: 5px;
}

.checkbox-wrapper-36 label:active {
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.2); 
    transform: scale(1.1); 
}

.checkbox-wrapper-36 input:checked + label:after {
    animation: move-right-36 400ms;
    background: var(--main-color) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath stroke='white' fill='white' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center; /* تصغير الأيقونة */
    left: 44px; 
}

@keyframes move-right-36 {
    0% {
        left: 4px;
    }
    75% {
        left: 48px;
    }
    100% {
        left: 44px;
    }
}

@keyframes move-left-36 {
    0% {
        left: 44px;
    }
    75% {
        left: 0px;
    }
    100% {
        left: 4px;
    }
}
.pattern-box{
    display: none;
}
.pattern-box div,.patern,.mode div,#choose h5{
    cursor: pointer;
}
.mode div:hover,.change-color div:hover{
    transform: translateY(-4px);
}
.gray-pattern{background-color: rgb(197 197 197);}
#button {
    display: inline-block;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  ::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: var(--sec-mode-mode); 
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color); 
    border-radius: 10px; 
    border: 2px solid #f0f0f0; 
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}